div{
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.fa-user {
  font-size: clamp(40px, 2vw, 60px);
}

.fonte-responsiva{
  font-size: clamp(1.1rem, 2vw, 1.2rem);
}

.fonte-responsiva-pequena{
  font-size: clamp(1rem, 2vw, 1.1rem);
}