.client-card {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 0;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  display: flex;
  align-items: stretch;
  max-width: 500px;
}
.quantity-controls {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.client-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}
.icon-section {
  width: 30%;
  display: flex;
  align-items: stretch;

}

.icon-section img {
  width: 100%;
  object-fit: cover;

}
.client-card .fa-user {
  font-size: clamp(40px, 2vw, 60px);
}

.client-content {
  flex: 1;
  padding: 12px;
  overflow: hidden;
}

.client-name {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 8px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-detail span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  display: inline-block;
}

.whatsapp-icon{
    width: 25px; 
    height: 25px;
}
  

.client-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.client-detail {
  display: flex;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: #64748b;
}

.client-detail i {
  width: 16px;
  color: #3498db;
  margin-right: 6px;
}

.client-status {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
}

.status-active {
  background: #28a745;
  color: #fff;
}

.status-inactive {
  background: #dc3545;
  color: #fff;
}

@media (max-width: 768px) {
  .client-card {
    margin: 10px auto;
  }
}

.lista-produto-btn-qtd {
  font-size: clamp(20px, 2vw, 30px) !important;
  font-weight: 3000;
  position: relative;
  bottom: 2px;
}

.fa-trash {
  font-size: clamp(14px, 1.5vw, 20px);
  position: relative;
  bottom: 2px;
}

.lista-produto-qtd {
  font-size: clamp(16px, 1.8vw, 20px);
  font-weight: bold;
  position: relative;
  bottom: 2px;
}