.nome-produto{
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.infos{
  font-size: clamp(0.8rem, 2vw, 1.2rem) !important ;
}

.preço-velho {
  text-decoration: line-through;
}

.btn i {
  font-size: inherit;
}